<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211678394545-sjnfi2aknadeunedmqukb077fpsagcn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211678394545-sjnfi2aknadeunedmqukb077fpsagcn2</string>
	<key>API_KEY</key>
	<string>AIzaSyD3bk9eCRtQUNlzzwoaKw_vXMbVawCQ1Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>211678394545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.portonics.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-c0ddc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-c0ddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211678394545:ios:36c0d1bd75e63adae60a90</string>
</dict>
</plist>